In [2]:
import numpy as np   
import pandas as pd    
import seaborn as sns
from sklearn import metrics
import matplotlib.pyplot as plt   
import matplotlib.style

In [3]:
# reading the CSV file into pandas dataframe
df = pd.read_csv("AirBNB.csv")

C:\Users\iampr\AppData\Local\Temp\ipykernel_18056\2258522141.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("AirBNB.csv")

In [4]:
df

,id,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,6901257,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635
1,6304928,Entire home/apt,7.0,1.0,strict,True,t,93.0,3.0,3.0,5.129899
2,7919400,Entire home/apt,5.0,1.0,moderate,True,t,92.0,1.0,3.0,4.976734
3,13418779,Entire home/apt,4.0,1.0,flexible,True,f,NaN,2.0,2.0,6.620073
4,3808709,Entire home/apt,2.0,1.0,moderate,True,t,40.0,0.0,1.0,4.744932
...,...,...,...,...,...,...,...,...,...,...,...
74106,14549287,Private room,1.0,1.0,flexible,False,f,NaN,1.0,1.0,4.605170
74107,13281809,Entire home/apt,4.0,2.0,moderate,True,f,93.0,2.0,4.0,5.043425
74108,18688039,Entire home/apt,5.0,1.0,moderate,True,t,94.0,2.0,2.0,5.220356
74109,17045948,Entire home/apt,2.0,1.0,strict,True,t,NaN,0.0,2.0,5.273000
74110,3534845,Entire home/apt,4.0,1.0,moderate,False,f,96.0,1.0,2.0,4.852030

In [5]:
# Check top few records to get a feel of the data structure
df.head() # to see some top n records

,id,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,6901257,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635
1,6304928,Entire home/apt,7.0,1.0,strict,True,t,93.0,3.0,3.0,5.129899
2,7919400,Entire home/apt,5.0,1.0,moderate,True,t,92.0,1.0,3.0,4.976734
3,13418779,Entire home/apt,4.0,1.0,flexible,True,f,NaN,2.0,2.0,6.620073
4,3808709,Entire home/apt,2.0,1.0,moderate,True,t,40.0,0.0,1.0,4.744932

In [6]:
# drop the id column as it is useless for the model
df = df.drop('id', axis=1) # axis = 1(Col), 0(Row)

In [7]:
df.head()

,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635
1,Entire home/apt,7.0,1.0,strict,True,t,93.0,3.0,3.0,5.129899
2,Entire home/apt,5.0,1.0,moderate,True,t,92.0,1.0,3.0,4.976734
3,Entire home/apt,4.0,1.0,flexible,True,f,NaN,2.0,2.0,6.620073
4,Entire home/apt,2.0,1.0,moderate,True,t,40.0,0.0,1.0,4.744932

In [8]:
# to get good understanding of all columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_type             74106 non-null  object
 1   accommodates          74108 non-null  float64
 2   bathrooms             73908 non-null  float64
 3   cancellation_policy   74103 non-null  object
 4   cleaning_fee          74107 non-null  object
 5   instant_bookable      74111 non-null  object
 6   review_scores_rating  57389 non-null  float64
 7   bedrooms              74019 non-null  float64
 8   beds                  73980 non-null  float64
 9   log_price             74111 non-null  float64
dtypes: float64(6), object(4)
memory usage: 5.7+ MB

In [9]:
df.describe() # will show only numeric data

,accommodates,bathrooms,review_scores_rating,bedrooms,beds,log_price
count,74108.000000,73908.000000,57389.000000,74019.000000,73980.000000,74111.000000
mean,3.155125,1.235272,94.067365,1.265797,1.710868,4.782069
std,2.153603,0.582054,7.836556,0.852149,1.254142,0.717394
min,1.000000,0.000000,20.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,92.000000,1.000000,1.000000,4.317488
50%,2.000000,1.000000,96.000000,1.000000,1.000000,4.709530
75%,4.000000,1.000000,100.000000,1.000000,2.000000,5.220356
max,16.000000,8.000000,100.000000,10.000000,18.000000,7.600402

In [10]:
# to see data distribution & 5 point summary

df.describe(include = 'all') # Numeric + catagorical

,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
count,74106,74108.000000,73908.000000,74103,74107,74111,57389.000000,74019.000000,73980.000000,74111.000000
unique,3,NaN,NaN,3,2,2,NaN,NaN,NaN,NaN
top,Entire home/apt,NaN,NaN,strict,True,f,NaN,NaN,NaN,NaN
freq,41308,NaN,NaN,32500,54399,54660,NaN,NaN,NaN,NaN
mean,NaN,3.155125,1.235272,NaN,NaN,NaN,94.067365,1.265797,1.710868,4.782069
std,NaN,2.153603,0.582054,NaN,NaN,NaN,7.836556,0.852149,1.254142,0.717394
min,NaN,1.000000,0.000000,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000
25%,NaN,2.000000,1.000000,NaN,NaN,NaN,92.000000,1.000000,1.000000,4.317488
50%,NaN,2.000000,1.000000,NaN,NaN,NaN,96.000000,1.000000,1.000000,4.709530
75%,NaN,4.000000,1.000000,NaN,NaN,NaN,100.000000,1.000000,2.000000,5.220356
max,NaN,16.000000,8.000000,NaN,NaN,NaN,100.000000,10.000000,18.000000,7.600402

In [11]:
df['room_type'].unique()

array(['Entire home/apt', 'Private room', 'Shared room', nan],
      dtype=object)

In [12]:
df.columns

Index(['room_type', 'accommodates', 'bathrooms', 'cancellation_policy',
       'cleaning_fee', 'instant_bookable', 'review_scores_rating', 'bedrooms',
       'beds', 'log_price'],
      dtype='object')

In [13]:
for col in df.columns:
    print(col)

room_type
accommodates
bathrooms
cancellation_policy
cleaning_fee
instant_bookable
review_scores_rating
bedrooms
beds
log_price

In [14]:
for column in df.columns:
    if df[column].dtype == 'object':
        print(column.upper(),': ',df[column].nunique())
        print(df[column].value_counts().sort_values())
        print('\n')

ROOM_TYPE :  3
Shared room         2163
Private room       30635
Entire home/apt    41308
Name: room_type, dtype: int64


CANCELLATION_POLICY :  3
moderate    19060
flexible    22543
strict      32500
Name: cancellation_policy, dtype: int64


CLEANING_FEE :  2
False    19708
True     54399
Name: cleaning_fee, dtype: int64


INSTANT_BOOKABLE :  2
t    19451
f    54660
Name: instant_bookable, dtype: int64

In [15]:
def EDA(df):
    print('\n\n************HEAD************\n\n')
    head = df.head()
    print(head)
    print('\n\n **************INFO**************\n\n')
         
    df.info()
         
    print('\n\n**************DESCRIBE**************\n\n')
    describe = df.describe()
    print(describe)
         
    
    print('\n\n**************UNIQUE**************\n\n')
         
    for column in df.columns:
        if df[column].dtype == 'object':        #Checking Unique Values
            print(column.upper(),': ',df[column].nunique())
            print(df[column].value_counts().sort_values())
            print('\n')

In [16]:
EDA(df)

************HEAD************


         room_type  accommodates  bathrooms cancellation_policy cleaning_fee  \
0  Entire home/apt           3.0        1.0              strict         True
1  Entire home/apt           7.0        1.0              strict         True
2  Entire home/apt           5.0        1.0            moderate         True
3  Entire home/apt           4.0        1.0            flexible         True
4  Entire home/apt           2.0        1.0            moderate         True

  instant_bookable  review_scores_rating  bedrooms  beds  log_price
0                f                 100.0       1.0   1.0   5.010635
1                t                  93.0       3.0   3.0   5.129899
2                t                  92.0       1.0   3.0   4.976734
3                f                   NaN       2.0   2.0   6.620073
4                t                  40.0       0.0   1.0   4.744932


 **************INFO**************


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_type             74106 non-null  object
 1   accommodates          74108 non-null  float64
 2   bathrooms             73908 non-null  float64
 3   cancellation_policy   74103 non-null  object
 4   cleaning_fee          74107 non-null  object
 5   instant_bookable      74111 non-null  object
 6   review_scores_rating  57389 non-null  float64
 7   bedrooms              74019 non-null  float64
 8   beds                  73980 non-null  float64
 9   log_price             74111 non-null  float64
dtypes: float64(6), object(4)
memory usage: 5.7+ MB


**************DESCRIBE**************


       accommodates     bathrooms  review_scores_rating      bedrooms  \
count  74108.000000  73908.000000          57389.000000  74019.000000
mean       3.155125      1.235272             94.067365      1.265797
std        2.153603      0.582054              7.836556      0.852149
min        1.000000      0.000000             20.000000      0.000000
25%        2.000000      1.000000             92.000000      1.000000
50%        2.000000      1.000000             96.000000      1.000000
75%        4.000000      1.000000            100.000000      1.000000
max       16.000000      8.000000            100.000000     10.000000

               beds     log_price
count  73980.000000  74111.000000
mean       1.710868      4.782069
std        1.254142      0.717394
min        0.000000      0.000000
25%        1.000000      4.317488
50%        1.000000      4.709530
75%        2.000000      5.220356
max       18.000000      7.600402


**************UNIQUE**************


ROOM_TYPE :  3
Shared room         2163
Private room       30635
Entire home/apt    41308
Name: room_type, dtype: int64


CANCELLATION_POLICY :  3
moderate    19060
flexible    22543
strict      32500
Name: cancellation_policy, dtype: int64


CLEANING_FEE :  2
False    19708
True     54399
Name: cleaning_fee, dtype: int64


INSTANT_BOOKABLE :  2
t    19451
f    54660
Name: instant_bookable, dtype: int64

In [ ]:
def DataVisualization(df):

In [44]:
def DataPreprocessing(df):
    print('\n\n**************Instant Bookable Replace T,F into True/Flase **************\n\n')
    df.instant_bookable.replace(['f', 't'], [False, True], inplace = True)
    print(df['instant_bookable'])
    
    print('\n\n**************Get dummies**************\n\n')
    
    df = pd.get_dummies(df, columns= ['room_type','cancellation_policy', 'cleaning_fee', 'instant_bookable'], drop_first= True)
    
    print('\n\n**************Checking Null Values**************\n\n')
    
    s = df.isnull().sum()
    print(s)
    
    print('\n\n**************Removing Null Values by Median**************\n\n')
    
    df = df.apply(lambda x: x.fillna(x.median()), axis= 0)
    
    print('\n\n**************Checking Null Values after Treatment**************\n\n')
    
    df.isnull().sum()
    
    print('\n\n**************Checking For Duplicates**************\n\n')
    
    dups = df.duplicated().sum()
    print('Number of duplicate rows = %d' % (dups.sum()))
    
    print('\n\n**************Removing Duplicates**************\n\n')
    
    df.drop_duplicates(inplace= True)

    print('\n\n**************Checking Duplicates after treatment**************\n\n')
    
    dups = df.duplicated().sum()
    
    print('\n\n**************Checking for any Outliers**************\n\n')
    
    count = df.dtypes[(df.dtypes== 'Floats64')].index
    
    print('\n\n**************BoxPlot for Outliers**************\n\n')
    
    plt.figure(figsize=(15,15))
    df[cont].boxplot(vert=0)
    plt.show()
    
    print('\n\n**************Removing Outliers**************\n\n')
    
    def outliers(col):
        
        sorted(col)
        Q1, Q3 = np.percentile(col, [25,75])
        IQR = Q3 - Q1
        lower_range = Q1 - (1.5*IQR)
        upper_range = Q3  +(1.5*IQR)
        return lower_range, upper_range
    
    
    for column in df[cont].columns:
        lr,ur=remove_outlier(df[column])
        df[column]=np.where(df[column]>ur,ur,df[column])
        df[column]=np.where(df[column]<lr,lr,df[column])

        
    print('\n\n**************After Removing Outliers ploting BoxPlots**************\n\n')    
        
    plt.figure(figsize=(15,15))
    df[cont].boxplot()
    plt.title('After Outlier Removal',fontsize=16)
    plt.show()

In [49]:
df = pd.get_dummies(df, columns=['room_type','cancellation_policy','cleaning_fee','instant_bookable'],drop_first=True)

In [50]:
df=df.apply(lambda x:x.fillna(x.median()),axis=0)
df.head()

,accommodates,bathrooms,review_scores_rating,bedrooms,beds,log_price,room_type_Private room,room_type_Shared room,cancellation_policy_moderate,cancellation_policy_strict,cleaning_fee_True,instant_bookable_True
0,3.0,1.0,100.0,1.0,1.0,5.010635,0,0,0,1,1,0
1,7.0,1.0,93.0,3.0,3.0,5.129899,0,0,0,1,1,1
2,5.0,1.0,92.0,1.0,3.0,4.976734,0,0,1,0,1,1
3,4.0,1.0,96.0,2.0,2.0,6.620073,0,0,0,0,1,0
4,2.0,1.0,40.0,0.0,1.0,4.744932,0,0,1,0,1,1

In [ ]:
def Model(df):

In [ ]:
def ModelOptimization(df):

In [45]:
DataPreprocessing(df)

**************Instant Bookable Replace T,F into True/Flase **************


0        False
1         True
2         True
3        False
4         True
         ...
74106    False
74107    False
74108     True
74109     True
74110    False
Name: instant_bookable, Length: 74111, dtype: bool


**************Get dummies**************




**************Checking Null Values**************


accommodates                        3
bathrooms                         203
review_scores_rating            16722
bedrooms                           92
beds                              131
log_price                           0
room_type_Private room              0
room_type_Shared room               0
cancellation_policy_moderate        0
cancellation_policy_strict          0
cleaning_fee_True                   0
instant_bookable_True               0
dtype: int64


**************Removing Null Values by Median**************




**************Checking Null Values after Treatment**************




**************Checking For Duplicates**************


Number of duplicate rows = 21145


**************Removing Duplicates**************




**************Checking Duplicates after treatment**************




**************Checking for any Outliers**************




**************BoxPlot for Outliers**************

NameError: name 'cont' is not defined

In [35]:
ls = []
for i in df.columns:
    x = pd.value_counts(df[i])
    
    ls.append(x)
    
for i in ls:
    print('****{', i , '}****')

****{ Entire home/apt    41308
Private room       30635
Shared room         2163
Name: room_type, dtype: int64 }****
****{ 2.0     31853
4.0     12066
1.0      9434
3.0      7793
6.0      4968
5.0      3444
8.0      1795
7.0       946
10.0      701
16.0      301
9.0       270
12.0      264
14.0      104
11.0       79
15.0       54
13.0       36
Name: accommodates, dtype: int64 }****
****{ 1.0    58096
2.0     7936
1.5     3801
2.5     1567
3.0     1066
3.5      429
4.0      286
0.5      209
0.0      198
4.5      116
5.0       72
8.0       41
5.5       39
6.0       24
6.5       12
7.0       10
7.5        6
Name: bathrooms, dtype: int64 }****
****{ strict      32500
flexible    22543
moderate    19060
Name: cancellation_policy, dtype: int64 }****
****{ True     54399
False    19708
Name: cleaning_fee, dtype: int64 }****
****{ f    54660
t    19451
Name: instant_bookable, dtype: int64 }****
****{ 100.0    16215
98.0      4374
97.0      4087
96.0      4081
95.0      3713
93.0      3647
90.0      2852
99.0      2631
94.0      2618
80.0      2163
92.0      2064
91.0      1615
89.0      1120
87.0      1119
88.0      1056
85.0       625
86.0       512
60.0       444
84.0       438
83.0       403
82.0       211
70.0       196
73.0       157
81.0       126
75.0       101
20.0        97
78.0        94
40.0        90
79.0        83
76.0        76
77.0        74
67.0        66
74.0        39
72.0        38
50.0        30
65.0        28
68.0        20
71.0        14
69.0        13
63.0        11
53.0        10
64.0        10
47.0         5
30.0         4
62.0         3
66.0         3
55.0         3
57.0         3
27.0         2
35.0         1
49.0         1
58.0         1
54.0         1
56.0         1
Name: review_scores_rating, dtype: int64 }****
****{ 1.0     49783
2.0     11351
0.0      6715
3.0      4309
4.0      1330
5.0       355
6.0       106
7.0        38
8.0        14
10.0       10
9.0         8
Name: bedrooms, dtype: int64 }****
****{ 1.0     45144
2.0     16704
3.0      6442
4.0      3065
5.0      1287
6.0       661
7.0       216
8.0       186
10.0       88
9.0        72
16.0       38
12.0       29
11.0       23
13.0       10
15.0        6
14.0        4
0.0         4
18.0        1
Name: beds, dtype: int64 }****
****{ 5.010635    2729
4.605170    2707
4.317488    2049
5.298317    1923
3.912023    1920
            ...
6.999422       1
6.725034       1
7.070724       1
6.156979       1
6.357842       1
Name: log_price, Length: 767, dtype: int64 }****

In [17]:
df.columns

Index(['room_type', 'accommodates', 'bathrooms', 'cancellation_policy',
       'cleaning_fee', 'instant_bookable', 'review_scores_rating', 'bedrooms',
       'beds', 'log_price'],
      dtype='object')

In [21]:
pd.value_counts(df['accommodates'])

2.0     31853
4.0     12066
1.0      9434
3.0      7793
6.0      4968
5.0      3444
8.0      1795
7.0       946
10.0      701
16.0      301
9.0       270
12.0      264
14.0      104
11.0       79
15.0       54
13.0       36
Name: accommodates, dtype: int64