In [4]:
import numpy as np   
import pandas as pd    
import seaborn as sns
from sklearn import metrics
import matplotlib.pyplot as plt   
import matplotlib.style

In [5]:
# reading the CSV file into pandas dataframe
df = pd.read_csv("AirBNB.csv")

C:\Users\iampr\AppData\Local\Temp\ipykernel_21444\2258522141.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("AirBNB.csv")

In [6]:
df

,id,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,6901257,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635
1,6304928,Entire home/apt,7.0,1.0,strict,True,t,93.0,3.0,3.0,5.129899
2,7919400,Entire home/apt,5.0,1.0,moderate,True,t,92.0,1.0,3.0,4.976734
3,13418779,Entire home/apt,4.0,1.0,flexible,True,f,NaN,2.0,2.0,6.620073
4,3808709,Entire home/apt,2.0,1.0,moderate,True,t,40.0,0.0,1.0,4.744932
...,...,...,...,...,...,...,...,...,...,...,...
74106,14549287,Private room,1.0,1.0,flexible,False,f,NaN,1.0,1.0,4.605170
74107,13281809,Entire home/apt,4.0,2.0,moderate,True,f,93.0,2.0,4.0,5.043425
74108,18688039,Entire home/apt,5.0,1.0,moderate,True,t,94.0,2.0,2.0,5.220356
74109,17045948,Entire home/apt,2.0,1.0,strict,True,t,NaN,0.0,2.0,5.273000
74110,3534845,Entire home/apt,4.0,1.0,moderate,False,f,96.0,1.0,2.0,4.852030

In [4]:
# Check top few records to get a feel of the data structure
df.head() # to see some top n records

,id,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,6901257,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635
1,6304928,Entire home/apt,7.0,1.0,strict,True,t,93.0,3.0,3.0,5.129899
2,7919400,Entire home/apt,5.0,1.0,moderate,True,t,92.0,1.0,3.0,4.976734
3,13418779,Entire home/apt,4.0,1.0,flexible,True,f,NaN,2.0,2.0,6.620073
4,3808709,Entire home/apt,2.0,1.0,moderate,True,t,40.0,0.0,1.0,4.744932

In [5]:
# drop the id column as it is useless for the model
df = df.drop('id', axis=1) # axis = 1(Col), 0(Row)

In [6]:
df.head()

,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635
1,Entire home/apt,7.0,1.0,strict,True,t,93.0,3.0,3.0,5.129899
2,Entire home/apt,5.0,1.0,moderate,True,t,92.0,1.0,3.0,4.976734
3,Entire home/apt,4.0,1.0,flexible,True,f,NaN,2.0,2.0,6.620073
4,Entire home/apt,2.0,1.0,moderate,True,t,40.0,0.0,1.0,4.744932

In [7]:
# to get good understanding of all columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_type             74106 non-null  object
 1   accommodates          74108 non-null  float64
 2   bathrooms             73908 non-null  float64
 3   cancellation_policy   74103 non-null  object
 4   cleaning_fee          74107 non-null  object
 5   instant_bookable      74111 non-null  object
 6   review_scores_rating  57389 non-null  float64
 7   bedrooms              74019 non-null  float64
 8   beds                  73980 non-null  float64
 9   log_price             74111 non-null  float64
dtypes: float64(6), object(4)
memory usage: 5.7+ MB

In [8]:
df.describe() # will show only numeric data

,accommodates,bathrooms,review_scores_rating,bedrooms,beds,log_price
count,74108.000000,73908.000000,57389.000000,74019.000000,73980.000000,74111.000000
mean,3.155125,1.235272,94.067365,1.265797,1.710868,4.782069
std,2.153603,0.582054,7.836556,0.852149,1.254142,0.717394
min,1.000000,0.000000,20.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,92.000000,1.000000,1.000000,4.317488
50%,2.000000,1.000000,96.000000,1.000000,1.000000,4.709530
75%,4.000000,1.000000,100.000000,1.000000,2.000000,5.220356
max,16.000000,8.000000,100.000000,10.000000,18.000000,7.600402

In [9]:
# to see data distribution & 5 point summary

df.describe(include = 'all') # Numeric + catagorical

,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
count,74106,74108.000000,73908.000000,74103,74107,74111,57389.000000,74019.000000,73980.000000,74111.000000
unique,3,NaN,NaN,3,2,2,NaN,NaN,NaN,NaN
top,Entire home/apt,NaN,NaN,strict,True,f,NaN,NaN,NaN,NaN
freq,41308,NaN,NaN,32500,54399,54660,NaN,NaN,NaN,NaN
mean,NaN,3.155125,1.235272,NaN,NaN,NaN,94.067365,1.265797,1.710868,4.782069
std,NaN,2.153603,0.582054,NaN,NaN,NaN,7.836556,0.852149,1.254142,0.717394
min,NaN,1.000000,0.000000,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000
25%,NaN,2.000000,1.000000,NaN,NaN,NaN,92.000000,1.000000,1.000000,4.317488
50%,NaN,2.000000,1.000000,NaN,NaN,NaN,96.000000,1.000000,1.000000,4.709530
75%,NaN,4.000000,1.000000,NaN,NaN,NaN,100.000000,1.000000,2.000000,5.220356
max,NaN,16.000000,8.000000,NaN,NaN,NaN,100.000000,10.000000,18.000000,7.600402

In [10]:
df['room_type'].unique()

array(['Entire home/apt', 'Private room', 'Shared room', nan],
      dtype=object)

In [11]:
df.columns

Index(['room_type', 'accommodates', 'bathrooms', 'cancellation_policy',
       'cleaning_fee', 'instant_bookable', 'review_scores_rating', 'bedrooms',
       'beds', 'log_price'],
      dtype='object')

In [12]:
for col in df.columns:
    print(col)

room_type
accommodates
bathrooms
cancellation_policy
cleaning_fee
instant_bookable
review_scores_rating
bedrooms
beds
log_price

In [13]:
for column in df.columns:
    if df[column].dtype == 'object':
        print(column.upper(),': ',df[column].nunique())
        print(df[column].value_counts().sort_values())
        print('\n')

ROOM_TYPE :  3
Shared room         2163
Private room       30635
Entire home/apt    41308
Name: room_type, dtype: int64


CANCELLATION_POLICY :  3
moderate    19060
flexible    22543
strict      32500
Name: cancellation_policy, dtype: int64


CLEANING_FEE :  2
False    19708
True     54399
Name: cleaning_fee, dtype: int64


INSTANT_BOOKABLE :  2
t    19451
f    54660
Name: instant_bookable, dtype: int64

In [30]:
def EDA(df):
    print('\n\n************HEAD************\n\n')
    head = df.head()
    print(head)
    print('\n\n **************INFO**************\n\n')
         
    df.info()
         
    print('\n\n**************DESCRIBE**************\n\n')
    describe = df.describe()
    print(describe)
         
    
    print('\n\n**************UNIQUE**************\n\n')
         
    for column in df.columns:
        if df[column].dtype == 'object':        #Checking Unique Values
            print(column.upper(),': ',df[column].nunique())
            print(df[column].value_counts().sort_values())
            print('\n')

In [31]:
EDA(df)

************HEAD************


         id        room_type  accommodates  bathrooms cancellation_policy  \
0   6901257  Entire home/apt           3.0        1.0              strict
1   6304928  Entire home/apt           7.0        1.0              strict
2   7919400  Entire home/apt           5.0        1.0            moderate
3  13418779  Entire home/apt           4.0        1.0            flexible
4   3808709  Entire home/apt           2.0        1.0            moderate

  cleaning_fee instant_bookable  review_scores_rating  bedrooms  beds  \
0         True                f                 100.0       1.0   1.0
1         True                t                  93.0       3.0   3.0
2         True                t                  92.0       1.0   3.0
3         True                f                   NaN       2.0   2.0
4         True                t                  40.0       0.0   1.0

   log_price
0   5.010635
1   5.129899
2   4.976734
3   6.620073
4   4.744932


 **************INFO**************


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    74111 non-null  int64
 1   room_type             74106 non-null  object
 2   accommodates          74108 non-null  float64
 3   bathrooms             73908 non-null  float64
 4   cancellation_policy   74103 non-null  object
 5   cleaning_fee          74107 non-null  object
 6   instant_bookable      74111 non-null  object
 7   review_scores_rating  57389 non-null  float64
 8   bedrooms              74019 non-null  float64
 9   beds                  73980 non-null  float64
 10  log_price             74111 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 6.2+ MB


**************DESCRIBE**************


                 id  accommodates     bathrooms  review_scores_rating  \
count  7.411100e+04  74108.000000  73908.000000          57389.000000
mean   1.126662e+07      3.155125      1.235272             94.067365
std    6.081735e+06      2.153603      0.582054              7.836556
min    3.440000e+02      1.000000      0.000000             20.000000
25%    6.261964e+06      2.000000      1.000000             92.000000
50%    1.225415e+07      2.000000      1.000000             96.000000
75%    1.640226e+07      4.000000      1.000000            100.000000
max    2.123090e+07     16.000000      8.000000            100.000000

           bedrooms          beds     log_price
count  74019.000000  73980.000000  74111.000000
mean       1.265797      1.710868      4.782069
std        0.852149      1.254142      0.717394
min        0.000000      0.000000      0.000000
25%        1.000000      1.000000      4.317488
50%        1.000000      1.000000      4.709530
75%        1.000000      2.000000      5.220356
max       10.000000     18.000000      7.600402


**************UNIQUE**************


ROOM_TYPE :  3
Shared room         2163
Private room       30635
Entire home/apt    41308
Name: room_type, dtype: int64


CANCELLATION_POLICY :  3
moderate    19060
flexible    22543
strict      32500
Name: cancellation_policy, dtype: int64


CLEANING_FEE :  2
False    19708
True     54399
Name: cleaning_fee, dtype: int64


INSTANT_BOOKABLE :  2
t    19451
f    54660
Name: instant_bookable, dtype: int64

In [ ]:
def DataVisualization(df):

In [44]:
def DataPreprocessing(df):
    print('\n\n**************Instant Bookable Replace T,F too True/Flase**************\n\n')
    a = df.instant_bookable.replace(['f', 't'], [False, True], inplace = True)
    print(a)
    print('\n\n**************Get dummies**************\n\n')
    
    df = pd.get_dummies(df, columns= ['room_type','cancellation_policy', 'cleaning_fee', 'instant_bookable'], drop_first= True)
    
    print('\n\n**************Checking Null Values**************\n\n')
    
    df.isnull().sum()
    
    print('\n\n**************Removing Null Values by Median**************\n\n')
    
    df = df.apply(lambda x: x.fillna(x.median()), axis= 0)
    
    print('\n\n**************Checking Null Values after Treatment**************\n\n')
    
    df.isnull().sum()
    
    print('\n\n**************Checking For Duplicates**************\n\n')
    
    dups = df.duplicated().sum()
    print('Number of duplicate rows = %d' % (dups.sum()))
    
    print('\n\n**************Removing Duplicates**************\n\n')
    
    df.drop_duplicates(inplace= True)

    print('\n\n**************Checking Duplicates after treatment**************\n\n')
    
    dups = df.duplicated().sum()
    
    print('\n\n**************Checking for any Outliers**************\n\n')
    
    count = df.dtypes[(df.dtypes== 'Floats64')].index
    
    print('\n\n**************BoxPlot for Outliers**************\n\n')
    
    plt.figure(figsize=(15,15))
    df[cont].boxplot(vert=0)
    plt.show()
    
    print('\n\n**************Removing Outliers**************\n\n')
    
    def outliers(col):
        
        sorted(col)
        Q1, Q3 = np.percentile(col, [25,75])
        IQR = Q3 - Q1
        lower_range = Q1 - (1.5*IQR)
        upper_range = Q3  +(1.5*IQR)
        return lower_range, upper_range
    
    
    for column in df[cont].columns:
        lr,ur=remove_outlier(df[column])
        df[column]=np.where(df[column]>ur,ur,df[column])
        df[column]=np.where(df[column]<lr,lr,df[column])

        
    print('\n\n**************After Removing Outliers ploting BoxPlots**************\n\n')    
        
    plt.figure(figsize=(15,15))
    df[cont].boxplot()
    plt.title('After Outlier Removal',fontsize=16)
    plt.show()

In [ ]:
def Model(df):

In [ ]:
def ModelOptimization(df):

In [45]:
DataPreprocessing(df)

**************Instant Bookable Replace T,F too True/Flase**************


None


**************Get dummies**************




**************Checking Null Values**************




**************Removing Null Values by Median**************




**************Checking Null Values after Treatment**************




**************Checking For Duplicates**************


Number of duplicate rows = 0


**************Removing Duplicates**************




**************Checking Duplicates after treatment**************




**************Checking for any Outliers**************




**************BoxPlot for Outliers**************

NameError: name 'cont' is not defined